@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --background: hsl(47, 88%, 63%);
    --background-card: #fff;

}

.page {
    background-color: var(--background);
    min-width: 100vh;
    padding: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_content {
    height: 500px;
    width: 340px;
    background-color: var(--background-card);
    box-shadow: 7px 5px black;
    border: 2px solid black;
    padding: 15px;
    border-radius: 15px;
    font-family: "Figtree", serif;
}

.category {
    color: hsl(0, 0%, 7%);
    background-color: var(--background);
    padding: 5px;
    width: fit-content;
}

.title_text:hover {
    color: var(--background);
    opacity: 80%;
    cursor: pointer;
}

.head_img {
    width: 100%;
    border-radius: 10px;
}

.author {
    font-weight: bold;
}

.content_person {
    display: flex;
    align-items: center;
    gap: 10px;
}

.person {
    width: 30px;
    height: 30px;
}

.placeholder {
    display: flex;
    flex-direction: column;
    gap: 15px;
}