@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");

:root {
  --Light-slate-blue: hsl(252, 100%, 67%);
  --Light-royal-blue: hsl(241, 81%, 54%);
  --Violet-blue: hsla(256, 72%, 46%, 1);
  --Persian-blue: hsla(241, 72%, 46%, 0);
  --white: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --color: hsl(241, 100%, 89%);
  --btn-bg: hsl(224, 30%, 27%);

  --fs-xs: 0.875rem;
  --fs-s: 1rem;
  --fs-m: 1.125rem;
  --fs-l: 1.25rem;
  --fs-xl: 3.75rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.results_section {
  width: 1000px;
  height: 1000px;
  background-color: var(--Pale-blue);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 25px;
  border-radius: 25px;
  font-family: "Hanken Grotesk";
}

.card_content_l {
  height: 420px;
  width: 300px;
  background: linear-gradient(#6743ff, #322deb);
  border-radius: 25px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  gap: 20px;
}

.card_content_r {
  height: 420px;
  width: 350px;
  background-color: white;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  padding-left: 30px;
  padding: 40px;
}

.circle {
  width: 160px;
  height: 160px;
  background: linear-gradient(#2823b0, #4640fd);
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.circle_p {
  color: #8a7dff;
  font-size: 12px;
}

.head_count {
  font-size: 55px;
  font-weight: 700;
}

.score {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.result {
  color: var(--color);
  font-size: 20px;
  font-weight: 700;
}

.score_h {
  font-size: 22px;
}

.score_p {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  width: 90%;
  color: var(--color);
}

.summary {
  font-size: 20px;
  font-weight: 700;
}

.rounded {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
  font-weight: 700;
}

.round_red {
  display: flex;
  align-items: center;
  gap: 10px;
  align-items: center;
  background-color: #fff6f7;
  border-radius: 10px;
  height: 40px;
  width: 250px;
  padding-left: 10px;
  color: #ff5555;
}

.round_yellow {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #fffaf4;
  border-radius: 10px;
  height: 40px;
  width: 250px;
  padding-left: 10px;
  color: #ffb21e;
}

.round_green {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #f2fdf9;
  border-radius: 10px;
  height: 40px;
  width: 250px;
  padding-left: 10px;
  color: #00bb8f;
}

.round_blue {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #f4f4fe;
  border-radius: 10px;
  height: 40px;
  width: 250px;
  padding-left: 10px;
  color: #1125d6;
}

.round_img {
  width: 18px;
  height: 18px;
}

.score_rounded {
  color: #565764;
  /* margin-left: 50px; */
  /*!TODO Add grid to rounded boxes instead of flex*/
}

.btn {
  height: 40px;
  width: 250px;
  background-color: #303b59;
  border-radius: 25px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 200;
  font-size: 14px;
  margin-top: 10px;
}
