/*  {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.gallery {
  display: flex;
  flex-direction: column;
}

.component {
  transform: scale(0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.component:hover {
  transform: scale(0.7);
  cursor: pointer;
} */


body {

}

main {


}